@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --bg-color: #e1ecf2;
    --second-bg-color: #1d3557;
    --text-color: #ffffff;
    --main-color: #afb9b9;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-color);
}

.container {
    margin: 10px;
}

.container .navBar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 10px;
}

.container .navBar .menuIcon {
    width: 70px;
    height: 100%;
    background: var(--second-bg-color);
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.container .navBar .menuIcon div{
    width: 35px;
    height: 4px;
    background: var(--text-color);
    margin: 5px 0;
    border-radius: 5px;
}

.container .navBar .menuBar {
    width: calc(100% - 70px);
    background: var(--text-color);
    height: 100%;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.container .navBar .menuBar .logo {
    color: var(--second-bg-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.container .navBar .menuBar ul {
    display: flex;
}

.container .navBar .menuBar ul li a {
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid var(--second-bg-color);
    text-align: center;
    border-radius: 50%;
    color: var(--second-bg-color);
}

.container .navBar .menuBar ul li a:hover{
    background: var(--second-bg-color);
    color: var(--text-color);
}

/* Side Bar */
.container .sideBar {
    position: fixed;
    top: 70px;
    left: 10px;
    background: var(--second-bg-color);
    width: 200px;
    height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
}

.container .sideBar ul li a {
    display: block;
    padding: 20px;
    color: var(--main-color);
    position: relative;
    margin-bottom: 1px;
    
}

.container .sideBar ul li a:hover,
.container .sideBar ul li a:active {
    background: #31507b;
    color: var(--text-color);
}

.container .sideBar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: var(--bg-color);
    display: none;
}
.container .sideBar ul li a:hover:before,
.container .sideBar ul li a:active:before {
    display: block;
}

.container .sideBar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.container .sideBar ul li a span.title {
    display: inline-block;
}

/* Digital Clock */

.container .clock {
    width: calc(100% - 200px);
    margin-top: 100px;
    margin-left: 400px;
    padding: 15px;
    transition: all 0.3s ease;
    /* display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--second-bg-color);
    color: var(--text-color);
    padding: 40px;
    border-radius: 10px;
    background-color: var(--main-color); */
}

#Date {
    font-size: 20px !important;
    text-align: center;
}

.clock ul {
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;
}
